Repository markusamshove/natls, pull requests merged in 2023-04, with the labels that each got.

#170 Add CLI Subcommand to apply module filters according to git status
  README.md
  libs/natlint/src/main/java/org/amshove/natlint/cli/AnalyzeCommand.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/AnsiDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/CliAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/DiagnosticSinkType.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/NullDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/git/GitStatusPredicateParser.java
  libs/natlint/src/test/java/org/amshove/natlint/cli/CliTest.java
  libs/natlint/src/test/java/org/amshove/natlint/cli/NatlintCliShould.java
  libs/natlint/src/test/java/org/amshove/natlint/cli/SinkTests.java
  libs/natlint/src/test/java/org/amshove/natlint/cli/git/GitStatusPredicateParserShould.java
Labels: natlint🐑

#172 Speed up indexing by moving programming mode detection out
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/NaturalSourceHeaderAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/UnusedLocalSubroutineAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/api/DiagnosticDescription.java
  libs/natlint/src/main/java/org/amshove/natlint/api/ILinterContext.java
  libs/natlint/src/main/java/org/amshove/natlint/api/IModuleAnalyzingFunction.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/CliAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/LinterContext.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/NaturalLinter.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/NaturalSourceHeaderAnalyzerShould.java
  libs/natlint/src/test/java/org/amshove/natlint/linter/SyntheticNaturalFile.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerProject.java
  libs/natparse/src/main/java/org/amshove/natparse/ModuleLevelPosition.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/INaturalModule.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalFile.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalHeader.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalProjectFileIndexer.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalModule.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/NaturalParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ResourceFolderBasedTest.java
  libs/natparse/src/test/resources/projects/reporting/.natural
  libs/natparse/src/test/resources/projects/reporting/Natural-Libraries/LIBONE/REPORT.NSN
  tools/ruletranslator/src/main/resources/rules/NL016
  tools/ruletranslator/src/main/resources/rules/NPP040
Labels: natparse🔎

#173 Add `referableFileExists` endpoint
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/ReferableFileExistsParams.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/ReferableFileExistsResponse.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerLibrary.java
  libs/natls/src/test/java/org/amshove/natls/ReferableFileExistsEndpointShould.java
Labels: natls💻

#176 Support find references to data area variables when the dependant modules didn't parse yet
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/referencing/ReferenceFinder.java
  libs/natls/src/test/resources/projects/findreferences/Natural-Libraries/LIBONE/LDAUSE.NSN
  libs/natls/src/test/resources/projects/findreferences/Natural-Libraries/LIBONE/MYLDA.NSL
Labels: natls💻

#175 Do not suggest extract constant refactoring in DEFINE DATA
  libs/natls/src/main/java/org/amshove/natls/refactorings/ExtractConstantRefactoring.java
  libs/natls/src/test/java/org/amshove/natls/refactorings/ExtractConstantRefactoringShould.java
  libs/natparse/src/main/java/org/amshove/natparse/NodeUtil.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISyntaxNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/BaseSyntaxNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SyntheticVariableStatementNode.java
Labels: natls💻

#177 Add Progress notification to findReferences
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalDocumentService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/progress/MessageProgressMonitor.java
  libs/natls/src/main/java/org/amshove/natls/progress/ProgressTasks.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natls/src/main/java/org/amshove/natls/referencing/ReferenceFinder.java
  libs/natls/src/test/java/org/amshove/natls/references/FindReferencesTests.java
Labels: natls💻

#178 Fix go to definition and find references on variables in statements
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/referencing/ReferenceFinder.java
  libs/natls/src/test/resources/projects/findreferences/Natural-Libraries/LIBONE/ASSIGN.NSN
  libs/natparse/src/main/java/org/amshove/natparse/NodeUtil.java
Labels: bug🪲, natls💻

#179 Disallow INIT and CONST in PDAs
  libs/natparse/src/main/java/org/amshove/natparse/IPosition.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ResourceFolderBasedTest.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/definedatadiagnostics/constAndInitNotAllowedInPda.NSA
Labels: natparse🔎

#180 Fix more parser errors when parsing conditional expressions
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISignOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SignOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForIdentifiersShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ArithmeticParsingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
Labels: bug🪲, natparse🔎

#181 Parse *WINDOW-LS
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSystemVariablesShould.java
Labels: natparse🔎

#182 Refine analysis of unused REDEFINE member
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/UnusedVariableAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/LinterContext.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/NaturalLinter.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/UnusedVariableAnalyzerShould.java
  libs/natparse/src/main/java/org/amshove/natparse/ReadOnlyList.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IRedefinitionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/RedefinitionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/VariableNode.java
Labels: natlint🐑

#174 Check string length for initialized variables
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxToken.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ILiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IVariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AttributeNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefaultModuleProvider.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/GroupNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypedVariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/VariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForNumbersShould.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DataTypeCheckingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/definedatadiagnostics/multiDimensionalViewArray
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/constInitializer
Labels: natparse🔎, area/typer

#187 Tokenize Dynamic Attributes literally
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
Labels: bug🪲, natparse🔎

#198 Skip over SELECT statements
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISelectNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SelectNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#197 Check module type of referenced modules
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ReferencedModuleTypeValidationShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/VariableReferenceTests.java
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/.natural
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/CALLPROG.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/CALLSUB.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/FETCHPRG.NSP
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/FETCHSUB.NSP
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/INCLCC.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/INCLSUB.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/LUSEGDA.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/LUSELDA.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/LUSEPDA.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/MYCC.NSC
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/MYGDA.NSG
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/MYLDA.NSL
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/MYPDA.NSA
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/PROG.NSP
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/SUBGDA.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/SUBLDA.NSN
  libs/natparse/src/test/resources/projects/invalidModuleTypeTests/Natural-Libraries/ALIB/SUBPDA.NSN
  tools/ruletranslator/src/main/resources/rules/NPP001
  tools/ruletranslator/src/main/resources/rules/NPP002
  tools/ruletranslator/src/main/resources/rules/NPP004
  tools/ruletranslator/src/main/resources/rules/NPP005
  tools/ruletranslator/src/main/resources/rules/NPP006
  tools/ruletranslator/src/main/resources/rules/NPP007
  tools/ruletranslator/src/main/resources/rules/NPP008
  tools/ruletranslator/src/main/resources/rules/NPP009
  tools/ruletranslator/src/main/resources/rules/NPP010
  tools/ruletranslator/src/main/resources/rules/NPP011
  tools/ruletranslator/src/main/resources/rules/NPP012
  tools/ruletranslator/src/main/resources/rules/NPP013
  tools/ruletranslator/src/main/resources/rules/NPP014
  tools/ruletranslator/src/main/resources/rules/NPP015
  tools/ruletranslator/src/main/resources/rules/NPP016
  tools/ruletranslator/src/main/resources/rules/NPP017
  tools/ruletranslator/src/main/resources/rules/NPP018
  tools/ruletranslator/src/main/resources/rules/NPP019
  tools/ruletranslator/src/main/resources/rules/NPP021
  tools/ruletranslator/src/main/resources/rules/NPP022
  tools/ruletranslator/src/main/resources/rules/NPP023
  tools/ruletranslator/src/main/resources/rules/NPP024
  tools/ruletranslator/src/main/resources/rules/NPP025
  tools/ruletranslator/src/main/resources/rules/NPP026
  tools/ruletranslator/src/main/resources/rules/NPP027
  tools/ruletranslator/src/main/resources/rules/NPP028
  tools/ruletranslator/src/main/resources/rules/NPP029
  tools/ruletranslator/src/main/resources/rules/NPP030
  tools/ruletranslator/src/main/resources/rules/NPP041
  tools/ruletranslator/src/test/java/org/amshove/natqube/ruletranslator/DiagnosticMappingAcceptanceTests.java
Labels: enhancement, natparse🔎

#196 Allow PROGRAM as valid Identifier
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
Labels: bug🪲, natparse🔎

#200 Parse BACKOUT TRANSACTION, CLOSE WORK, CLOSE PC, WRITE WORK, SET WINDOW, TERMINATE
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IBackoutNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IClosePcNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ICloseWorkNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISetWindowNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ITerminateNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IWriteWorkNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/BackoutNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ClosePcNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/CloseWorkNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SetWindowNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TerminateNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/WriteWorkNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/writeWorkDynamicArrayBounds
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/writeWorkDynamicWithVariableKeyword
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/writeWorkDynamicWithoutVariableKeyword
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/writeWorkNonDynamicWithoutVariable
  tools/explore/src/main/java/org/amshove/natls/explore/ExploreController.java
Labels: natparse🔎

#203 Fix new line advancement for multiline string concatenation
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
Labels: bug🪲, natparse🔎
