Repository markusamshove/natls, pull requests merged in 2023-08, with the labels that each got.

#335 Fix type checking of binary type
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DataTypeCheckingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/LiteralTypeInferenceShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/decideOnTyping
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/simpleAssignments
Labels: bug🪲

#341 Bugfix: CURSOR is also SV
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSystemVariablesShould.java
Labels: bug🪲

#343 Bugfix: Label Identifier preceding SORT in SORT statement
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#344 Calculate REDEFINE length only for fields not in VIEWs
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/simpleAssignments
Labels: bug🪲

#350 Prefer token over nodes while hovering
  libs/natls/src/main/java/org/amshove/natls/hover/HoverProvider.java
  libs/natls/src/test/java/org/amshove/natls/hovering/ExternalModuleHoverShould.java
Labels: natls💻

#352 Load variable type info from DDMs
  .github/workflows/gradle-build.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
  libs/natparse/src/main/java/org/amshove/natparse/natural/IVariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ddm/DdmParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ddm/FieldParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ddm/GroupField.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ModuleProviderStub.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ddm/DdmParserShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/ddm/CompleteDdm.NSD
Labels: natparse🔎

#353 Consume OPTIONS statement
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IOptionsStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/OptionsStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#355 Allow mixed string literal types for string concat
  libs/natls/src/main/java/org/amshove/natls/hover/HoverProvider.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxToken.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IStringConcatOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IVariableType.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StringConcatOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/VariableType.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/CopyCodesShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/AssignmentStatementParsingShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/attributeInitializer
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/INCLMSTR.NSN
Labels: natparse🔎
