Repository markusamshove/natls, pull requests merged in 2023-09, with the labels that each got.

#358 Include array access in extract subroutine
  libs/natls/src/main/java/org/amshove/natls/languageserver/LspUtil.java
  libs/natls/src/test/java/org/amshove/natls/refactorings/ExtractSubroutineRefactoringShould.java
Labels: bug🪲

#360 Allow StringConcat to start with hex literal
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: bug🪲

#361 Raise a diagnostic if FILLER is used outside of REDEFINE
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: natparse🔎

#362 Fix REDEFINE detection for FILLERs in VIEWs
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: natparse🔎

#366 Add diagnostics for expected operands and keywords
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  tools/ruletranslator/src/main/resources/rules/NPP048
  tools/ruletranslator/src/main/resources/rules/NPP049
Labels: natparse🔎

#365 Add additional positional information to diagnostics
  build.gradle
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/CompressAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/api/DiagnosticDescription.java
  libs/natlint/src/main/java/org/amshove/natlint/api/LinterDiagnostic.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/AnalyzeCommand.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/CliAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/DiagnosticSinkType.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/AnsiDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/CiCsvDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/CsvDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/FileStatusSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/IDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/NullDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/AnalyzeContext.java
  libs/natlint/src/test/java/org/amshove/natlint/cli/FileStatusSinkShould.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/LspUtil.java
  libs/natparse/src/main/java/org/amshove/natparse/AdditionalDiagnosticInfo.java
  libs/natparse/src/main/java/org/amshove/natparse/IDiagnostic.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/LexerDiagnostic.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/PlainPosition.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserDiagnostic.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerCopycodeParameterSubstitutionShould.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
Labels: natparse🔎

#368 Reparse callers of copycodes after save
  libs/natls/build.gradle
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natls/src/test/java/org/amshove/natls/CallerReparseTest.java
Labels: natls💻

#369 Release proper maven artifacts to GitHub Packages
  .github/workflows/release.yml
  build.gradle
  gradle.properties
  libs/natlint/build.gradle
  libs/natls/build.gradle
  libs/natparse/build.gradle
Labels: infrastructure🧰

#370 Fix optional IN LOGICAL order for READ
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲, natparse🔎

#372 Publish jars to maven central
  .github/workflows/gradle-build.yml
  .github/workflows/release.yml
  build.gradle
  libs/natlint/build.gradle
  libs/natls/build.gradle
  libs/natls/src/main/java/org/amshove/natls/project/ModuleReferenceCache.java
  libs/natls/src/main/java/org/amshove/natls/project/ParseStrategy.java
  libs/natparse/build.gradle
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxToken.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/TokenList.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IArrayDimension.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDefineData.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/ComparisonOperator.java
Labels: infrastructure🧰

#371 Support old-style jump labels
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/text/SourceTextScanner.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#375 Automatically create an issue with after-release tasks
  .github/after-release-issue.md
  .github/workflows/release.yml
Labels: infrastructure🧰

#379 Extract referable name from functions during indexing
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalProjectFileIndexer.java
  libs/natparse/src/test/java/org/amshove/natparse/natural/project/NaturalProjectFileIndexerShould.java
  libs/natparse/src/test/resources/projects/indexing/.natural
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/CCODE.NSC
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/EXTSUB.NSS
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/FUNC.NS7
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/HELPR.NSH
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/MY-DDM.NSD
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/MYGDA.NSG
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/MYLDA.NSL
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/MYMAP.NSM
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/MYPDA.NSA
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/PROG.NSP
  libs/natparse/src/test/resources/projects/indexing/Natural-Libraries/LIB/SUBPROG.NSN
Labels: bug🪲

#380 Report mismatch of function file name and function name
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/FunctionFilenameAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/FunctionFilenameAnalyzerShould.java
  libs/natlint/src/test/java/org/amshove/natlint/linter/AbstractAnalyzerTest.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IFunction.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalModule.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  tools/ruletranslator/src/main/resources/rules/NL020
Labels: natlint🐑

#376 Fix parsing of right parens inside a string in editor masks
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#381 Fix for INPUT MARK **systemvar
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/InputStatementParsingShould.java
Labels: natparse🔎

#273 Support rename of modules and their call sites
  build.gradle
  libs/natls/src/main/java/org/amshove/natls/codeactions/RenameSymbolAction.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalWorkspaceService.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerLibrary.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerProject.java
  libs/natls/src/main/java/org/amshove/natls/project/ModuleReferenceParser.java
  libs/natls/src/main/java/org/amshove/natls/workspace/RenameFileHandler.java
  libs/natls/src/test/java/org/amshove/natls/lsp/ModuleRenameShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LspProjectNameResolver.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LspTestContext.java
  libs/natls/src/test/resources/projects/filerename/.editorconfig
  libs/natls/src/test/resources/projects/filerename/.natural
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/CALLEDN.NSN
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/EXTSUB.NSS
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/FUNC.NS7
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/PROGCC.NSP
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/SOMEGDA.NSG
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/SOMELDA.NSL
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/SOMEPDA.NSA
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/SOMEPROG.NSP
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLED/SUBCC.NSN
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLEE/CALLER.NSN
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLEE/CALLER2.NSN
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLEE/INCL.NSC
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/CALLEE/INCLTEST.NSN
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/NOREF/CALLEDN.NSN
  libs/natls/src/test/resources/projects/filerename/Natural-Libraries/NOREF/CALLER.NSN
  libs/natparse/src/main/java/org/amshove/natparse/natural/IFunction.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalLibrary.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
Labels: natls💻

#383 COMMA can also be used as array access separator for labels
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/arrayAccessTests
Labels: natparse🔎

#382 Fix for INPUT MARK, part 2
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
Labels: bug🪲

#386 Implement natlint plugin for SonarQube
  README.md
  build.gradle
  docker/Dockerfile.sonar
  libs/natlint/src/main/java/org/amshove/natlint/cli/AnalyzeCommand.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/DiagnosticSinkType.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/CiCsvDiagnosticSink.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalFile.java
  libs/natqube/build.gradle
  libs/natqube/src/main/java/org/amshove/natqube/NatQubeException.java
  libs/natqube/src/main/java/org/amshove/natqube/NaturalMetrics.java
  libs/natqube/src/main/java/org/amshove/natqube/NaturalPlugin.java
  libs/natqube/src/main/java/org/amshove/natqube/NaturalProperties.java
  libs/natqube/src/main/java/org/amshove/natqube/measures/AggregateFileTypeMeasure.java
  libs/natqube/src/main/java/org/amshove/natqube/measures/FileTypeMeasure.java
  libs/natqube/src/main/java/org/amshove/natqube/measures/INaturalFileMeasurer.java
  libs/natqube/src/main/java/org/amshove/natqube/sensor/CsvDiagnostic.java
  libs/natqube/src/main/java/org/amshove/natqube/sensor/NatlintSensor.java
  libs/natqube/src/test/java/org/amshove/natqube/TestContext.java
  libs/natqube/src/test/java/org/amshove/natqube/measures/FileTypeMeasureShould.java
  libs/natqube/src/test/java/org/amshove/natqube/sensor/NatlintSensorShould.java
  libs/natqube/src/test/resources/projects/filetypemeasure/.natural
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/CCODE.NSC
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/EXTSUB.NSS
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/HELPR.NSH
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/MY-DDM.NSD
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/MYFUNC.NS7
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/MYGDA.NSG
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/MYLDA.NSL
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/MYMAP.NSM
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/MYPDA.NSA
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/PROGRAM.NSP
  libs/natqube/src/test/resources/projects/filetypemeasure/Natural-Libraries/LIB/SRC/SUBPROG.NSN
  libs/natqube/src/test/resources/projects/sensor/.natural
  libs/natqube/src/test/resources/projects/sensor/Natural-Libraries/LIB/SRC/LEXISS.NSN
  libs/natqube/src/test/resources/projects/sensor/Natural-Libraries/LIB/SRC/PARSEISS.NSN
  libs/natqube/src/test/resources/projects/sensor/Natural-Libraries/LIB/SRC/SUBPROG.NSN
Labels: natqube🎲

#390 Adding missing attributes
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/KeywordAsIdentifierAnalyzerShould.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
Labels: natparse🔎

#385 Fix for statements using an attribute as a report name
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#391 Support for sub-SELECTs and FETCH FIRST for SELECT statement
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎
