Repository markusamshove/natls, pull requests merged in 2023-10, with the labels that each got.

#393 Make IF BREAK part of conditionCriteria()
  libs/natparse/src/main/java/org/amshove/natparse/natural/IIfBreakNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/IIfBreakCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/ILogicalConditionCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/IfBreakCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/IfBreakNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#394 Skip EM, HD, PM definitions for View fields
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  tools/ruletranslator/src/main/resources/rules/NPP050
Labels: natparse🔎

#398 Migrate value truncation check to an Analyzer
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/ValueTruncationAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/ValueTruncationAnalyzerShould.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/constInitializer
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/simpleAssignments
  tools/ruletranslator/src/main/resources/rules/NL021
  tools/ruletranslator/src/main/resources/rules/NPP045
  tools/ruletranslator/src/main/resources/rules/NPP050
Labels: natlint🐑

#399 Bugfix for EXAMINE...GIVING and DELIMITER SPACE
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#400 Update actions steps that use deprecated Node version
  .github/workflows/gradle-build.yml
  .github/workflows/release.yml
  .github/workflows/sonar.yml
Labels: infrastructure🧰

#402 Replace deprecated Gradle configurations
  build.gradle
Labels: infrastructure🧰

#401 Use diagnostics additional position feature for typechecking errors
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/TypeCheckerRelocationTests.java
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/RELOCCC.NSC
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/RELOCSUB.NSN
Labels: natparse🔎

#405 Add statement snippet for FOR index
  libs/natls/src/main/java/org/amshove/natls/snippets/StatementSnippetProvider.java
  libs/natls/src/test/java/org/amshove/natls/snippets/StatementSnippetProviderShould.java
Labels: natls💻

#406 Fix MessageProgressMonitor sending more messages than intended
  libs/natls/src/main/java/org/amshove/natls/progress/MessageProgressMonitor.java
Labels: bug🪲

#407 Provide hover documentation for math functions
  libs/natls/src/main/java/org/amshove/natls/hover/HoverProvider.java
  libs/natls/src/main/java/org/amshove/natls/hover/MathFunctionHoverRegistry.java
  libs/natls/src/test/java/org/amshove/natls/hovering/MathFunctionHoverShould.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISignOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISinOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IValOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbsOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AtnOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AverOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/CosOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ExpOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/FracOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/IntOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SignOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SinOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SqrtOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SumOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TanOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TotalOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
Labels: natls💻

#408 Fix statement insertion position inside functions
  libs/natls/src/main/java/org/amshove/natls/codemutation/CodeInsertionPlacer.java
  libs/natls/src/test/java/org/amshove/natls/codemutation/CodeInsertionPlacerShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/CreateUnresolvedSubroutineQuickFixShould.java
Labels: bug🪲

#409 Implement experimental async initialization
  libs/natls/build.gradle
  libs/natls/src/main/java/org/amshove/natls/config/InitilizationConfiguration.java
  libs/natls/src/main/java/org/amshove/natls/config/LSConfiguration.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalWorkspaceService.java
  libs/natls/src/main/java/org/amshove/natls/progress/BackgroundTasks.java
  libs/natls/src/main/java/org/amshove/natls/progress/IProgressMonitor.java
  libs/natls/src/main/java/org/amshove/natls/progress/MessageProgressMonitor.java
  libs/natls/src/main/java/org/amshove/natls/progress/NullProgressMonitor.java
  libs/natls/src/main/java/org/amshove/natls/progress/WorkDoneProgressMonitor.java
  libs/natls/src/test/java/org/amshove/natls/initialization/AsyncInitializationShould.java
  libs/natls/src/test/java/org/amshove/natls/initialization/LanguageServerInitializationShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LspProjectName.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LspProjectNameResolver.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LspTestContext.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/StubClient.java
Labels: natls💻

#410 Check DEFINE DATA scope in data areas
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalFileType.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  tools/ruletranslator/src/main/resources/rules/NPP050
Labels: natparse🔎

#413 Disambiguate view variable access depending on adabas access context
  libs/natparse/src/main/java/org/amshove/natparse/natural/IAdabasAccessStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IFindNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IGroupNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IHistogramNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReadNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/FindNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/GroupNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReadNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/VariableReferenceTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ViewVariableAmbiguationTests.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/viewvariableambiguation/VIEWAMBG.NSN
  libs/natparse/src/test/resources/projects/variablereferencetests/Natural-Libraries/LIBONE/DISAMBIG.NSN
Labels: natparse🔎
