Repository markusamshove/natls, pull requests merged in 2023-02, with the labels that each got.

#134 Allow DECIDE FOR to take any condition in WHEN branches
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDecideForConditionBranchNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DecideForConditionBranchNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  tools/explore/src/main/java/org/amshove/natls/explore/ExploreController.java
Labels: bug🪲

#122 Clean up some code
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/UnusedVariableAnalyzer.java
  libs/natls/src/main/java/org/amshove/natls/project/ModuleReferenceParser.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/TextEditApplierShould.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReferencableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISubroutineNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IUsingNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/FunctionCallNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalModule.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SyntheticVariableStatementNode.java
Labels: infrastructure🧰

#135 Add support for IF MODIFIED
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/ILogicalConditionCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/IModifiedCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ModifiedCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  tools/ruletranslator/src/main/resources/rules/NPP035
Labels: natparse🔎

#137 Fix unresolved reference for function names as variable within functions
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/NaturalParserShould.java
  libs/natparse/src/test/resources/projects/variablereferencetests/Natural-Libraries/LIBONE/FUNC.NS7
  libs/natparse/src/test/resources/projects/variablereferencetests/Natural-Libraries/LIBONE/FUNC2.NS7
  startSonar.sh
Labels: bug🪲, natparse🔎

#138 Fix lexing of empty AD filler char
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
Labels: bug🪲

#139 Add underscore and section symbol as syntax kinds
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSingleCharacterTokensShould.java
Labels: natparse🔎

#140 Add support for IF SPECIFIED
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/ILogicalConditionCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/ISpecifiedCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SpecifiedCriteriaNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#141 Include nested subroutines in documentSymbol
  libs/natls/src/main/java/org/amshove/natls/documentsymbol/DocumentSymbolProvider.java
  libs/natls/src/test/java/org/amshove/natls/lsp/DocumentSymbolsShould.java
  libs/natls/src/test/resources/projects/documentsymbols/Natural-Libraries/LIBONE/NESTSUB.NSS
Labels: bug🪲, natls💻
