Repository markusamshove/natls, pull requests merged in 2023-05, with the labels that each got.

#205 Add checks for array access
  docs/implemented-statements.md
  libs/natlint/src/main/java/org/amshove/natlint/cli/CliAnalyzer.java
  libs/natls/src/test/java/org/amshove/natls/definition/DefinitionEndpointTests.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/TokenList.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/text/SourceTextScanner.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDefinePrototypeNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IVariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IWritePcNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefinePrototypeNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/RedefinitionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SyntheticVariableStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SystemFunctionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/VariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/WritePcNode.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForDatatypesShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserDiagnosticTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ResourceFolderBasedTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/regressiontests/writeThinksFlagsAreVariables
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/arrayAccessTests
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/writeWorkDynamicArrayBounds
  tools/ruletranslator/src/main/resources/rules/NPP042
Labels: natparse🔎

#211 Fix allowed syntax for IF SELECTION NOT UNIQUE
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
Labels: bug🪲, natparse🔎

#213 Parse PERFORM BREAK
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IBreakOfNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IPerformBreakNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/BreakOfNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/PerformBreakNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#214 Fix keyword recognition when ending with comment
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForKeywordsShould.java
Labels: bug🪲, natparse🔎

#215 Add refactoring to convert from ASSIGN/COMPUTE to assignment
  libs/natls/src/main/java/org/amshove/natls/SourceExtractor.java
  libs/natls/src/main/java/org/amshove/natls/refactorings/ConvertAssignmentsRefactoring.java
  libs/natls/src/test/java/org/amshove/natls/SourceExtractorShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/AmbiguousReferenceQuickFixShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/BooleanOperatorQuickfixShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/CodeConsistencyQuickfixShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/CompressDelimiterQuickFixShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/CompressNumericQuickFixShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/RemoveUnusedSubroutineQuickfixShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/RemoveUnusedVariableQuickfixShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/UnresolvedReferenceQuickFixShould.java
  libs/natls/src/test/java/org/amshove/natls/refactorings/CompressRefactoringsShould.java
  libs/natls/src/test/java/org/amshove/natls/refactorings/ConvertAssignmentsRefactoringShould.java
  libs/natls/src/test/java/org/amshove/natls/refactorings/CreateRedefineRefactoringShould.java
  libs/natls/src/test/java/org/amshove/natls/refactorings/ExtractConstantRefactoringShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/ApplicableCodeActionAssertion.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/CodeActionAssertion.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/CodeActionTest.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/EmptyProjectTest.java
Labels: natls💻

#216 Provide module documentation if module isn't fully parsed
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalModule.java
Labels: natls💻

#217 Parse LIMIT statement
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ILimitNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LimitNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#199 Skip over SQL statements
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDeleteStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IInsertStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IProcessSqlNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IUpdateStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DeleteStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/InsertStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ProcessStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/UpdateStatementNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DbmsTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/dbms/dbmsInsertOrUpdate
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/dbms/dbmsSimpleDeletes
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/dbms/dbmsSimpleUpdates
Labels: natparse🔎

#219 Accept all operand types on EXPAND, RESIZE and REDUCE where possible
  libs/natparse/src/main/java/org/amshove/natparse/natural/IExpandDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReduceDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IResizeDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ExpandDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReduceDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ResizeDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#220 Add array access on variable completion
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
Labels: natls💻

#221 Insert PERFORM in subroutine completion
  libs/natls/src/main/java/org/amshove/natls/SourceExtractor.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/SourceExtractorShould.java
Labels: natls💻

#222 Always trigger reparse on file open
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
Labels: natls💻

#223 Allow renames from assignment targets
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/codeactions/RenameSymbolActionShould.java
Labels: natls💻

#224 Check statements for empty body
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDecideOnBranchNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDecideOnNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IIfStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IOnErrorNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DecideOnBranchNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DecideOnNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/IfStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/OnErrorNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineWindowParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementParseTest.java
  tools/ruletranslator/src/main/resources/rules/NPP043
Labels: natparse🔎

#225 Check for NONE branch on DECIDEs
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  tools/ruletranslator/src/main/resources/rules/NPP044
Labels: natparse🔎

#226 Add parent node to decide on branches
  libs/natls/src/test/java/org/amshove/natls/codeactions/RenameSymbolActionShould.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DecideOnNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
Labels: bug🪲

#227 Introduce fix all operators quickfix
  libs/natls/src/main/java/org/amshove/natls/DiagnosticOriginalUri.java
  libs/natls/src/main/java/org/amshove/natls/codeactions/AbstractQuickFix.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/LspUtil.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/BooleanOperatorQuickfix.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/BooleanOperatorQuickfixShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/ApplicableCodeActionAssertion.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/IfStatementNode.java
Labels: natls💻

#228 Introduce remove all unused symbols
  libs/natls/src/main/java/org/amshove/natls/codeactions/AbstractQuickFix.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/RemoveUnusedVariableQuickfix.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/UnresolvedReferenceQuickFix.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/RemoveUnusedVariableQuickfixShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/TextEditApplier.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/TextEditApplierShould.java
Labels: natls💻

#229 Preserve array qualification on OCC quickfix
  libs/natls/src/main/java/org/amshove/natls/quickfixes/ForLoopOccQuickFix.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/ForLoopOccQuickFixShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/TextEditApplier.java
Labels: natls💻

#230 Honor dirty editor state when searching for tokens
  libs/natls/src/main/java/org/amshove/natls/codeactions/CodeActionRegistry.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxToken.java
Labels: natls💻

#232 Actually assert that only one statement is parsed
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDescriptorNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DescriptorNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementParseTest.java
Labels: infrastructure🧰

#233 Validate data type of DECIDE ON branches
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DataTypeCheckingShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/decideOnTyping
Labels: natparse🔎

#235 Parse attributes of literals in WRITE
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/regressiontests/writeStatements
Labels: natparse🔎

#236 Support label identifiers in form of (R1./IX)
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForIdentifiersShould.java
Labels: natparse🔎

#240 Remove artifical SyntaxKind name from hovers
  libs/natls/src/test/java/org/amshove/natls/hovering/HoveringTest.java
  libs/natls/src/test/java/org/amshove/natls/hovering/SystemVariableHoverShould.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
Labels: natls💻

#238 Parse COUNT, SUM, TOTAL, RET functions
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ICountOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IRetOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ITotalOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/CountOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/RetOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TotalOperandNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
Labels: natparse🔎

#241 Typecheck parameter to *LENGTH
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/lengthParameterMustBeDynamic
Labels: natparse🔎

#242 Consume tab settings in WRITE statements
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#243 Don't treat CV as reserved keyword
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForKeywordsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ArithmeticParsingShould.java
Labels: natparse🔎

#245 Implement formatting API for uppercase translation
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalDocumentService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/formatting/FormattingEndpointShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/TextEditApplier.java
Labels: natls💻

#247 Allow 'FORMATTED' Type for WORK FILEs
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/DefineWorkFileStatementParsingShould.java
Labels: natparse🔎

#246 Parse attribute SB
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ArithmeticParsingShould.java
Labels: natparse🔎

#249 Parse line advancement and skips in WRITE
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#250 Parse *TRIM options
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ITrimFunctionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TrimFunctionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/trimParameter
Labels: natparse🔎

#248 Parse other variants of SELECT
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSingleCharacterTokensShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#255 Add *WINDOW-POS and *PID
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSystemVariablesShould.java
Labels: natparse🔎

#256 Parse date literals
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
Labels: natparse🔎

#257 Create own HEX_LITERAL type
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/CompressStatementParsingShould.java
  tools/diffcsv/src/main/java/org/amshove/natls/diffcsv/App.java
Labels: natparse🔎

#258 Parse time and extended time literals
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
Labels: natparse🔎

#259 Partially parse INPUT statements
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IInputStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/InputStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/InputStatementParsingShould.java
Labels: natparse🔎

#260 Parse PRINT like WRITE
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IPrintNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/WriteNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#261 Complete system variables and functions
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/completion/CompleteEndpointShould.java
  libs/natls/src/test/java/org/amshove/natls/completion/CompletionTest.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LanguageServerTest.java
Labels: natls💻

#262 Fix variable recognition in array dimensions (EXPAND/REDUCE/RESIZE)
  libs/natparse/src/main/java/org/amshove/natparse/natural/IExpandArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReduceArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IResizeArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ExpandArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReduceArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ResizeArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#263 Allow compress WITH without delimiter keywords
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/CompressStatementParsingShould.java
Labels: natparse🔎

#264 Allow arithmetic in THRU
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
Labels: bug🪲

#265 Fix parens recognition in arithmetic for literal numbers
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
Labels: bug🪲

#266 Fix mutability checks for COMPRESS
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/assignAndMathStatements
Labels: bug🪲

#271 Skip to DEFINE DATA if a module contains it
  libs/natparse/src/main/java/org/amshove/natparse/lexing/TokenList.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/regressiontests/includeBeforeDefineData
Labels: natparse🔎
