Repository markusamshove/natls, pull requests merged in 2023-06, with the labels that each got.

#277 Fix diagnostic position of duplicated symbols from USINGs
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
Labels: bug🪲

#278 Misc. add-ons and bug fixes for NPP016
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSystemVariablesShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#274 Bug for NPP015 (REDEFINE length) partially fixed
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: bug🪲

#282 Add config to always insert qualified variable names
  README.md
  docs/lsp-config.md
  libs/natls/src/main/java/org/amshove/natls/config/CompletionConfiguration.java
  libs/natls/src/main/java/org/amshove/natls/config/LSConfiguration.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalWorkspaceService.java
  libs/natls/src/test/java/org/amshove/natls/completion/CompleteEndpointShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LanguageServerTest.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LspTestContext.java
Labels: natls💻

#234 Check literal conditionals in DECIDE blocks always resolving to false
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/ConditionAlwaysFalseAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/ConditionAlwaysFalseAnalyzerShould.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ILiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AttributeNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/LiteralTypeInferenceShould.java
  tools/ruletranslator/src/main/resources/rules/NL017
Labels: natlint🐑, area/typer

#286 Analyzer variable qualification
  docs/analyzer-config.md
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/QualifiedVariableAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/UnusedVariableAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/api/AbstractAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/QualifiedVariableAnalyzerShould.java
  libs/natlint/src/test/resources/projects/natunit/Natural-Libraries/LIBONE/INCL-C1.NSN
  libs/natlint/src/test/resources/projects/natunit/Natural-Libraries/LIBONE/USELDA.NSN
  libs/natlint/src/test/resources/projects/natunit/Natural-Libraries/LIBONE/USEVARC1.NSC
  libs/natlint/src/test/resources/projects/natunit/Natural-Libraries/LIBONE/USINGLDA.NSL
  tools/ruletranslator/src/main/resources/rules/NL018
  tools/ruletranslator/src/main/resources/rules/NL019
Labels: natlint🐑

#291 Enhance linter diagnostic description
  docs/analyzer-config.md
  tools/ruletranslator/src/main/resources/rules/NL006
  tools/ruletranslator/src/main/resources/rules/NL018
  tools/ruletranslator/src/main/resources/rules/NL019
Labels: documentation

#294 Add links from analyzer config to diagnostic descriptions
  docs/analyzer-config.md
Labels: documentation

#290 Typecheck simple assignments
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/ConditionAlwaysFalseAnalyzer.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ILiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IMutateVariables.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISystemFunctionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISystemVariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ITypeInferable.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IVariableReferenceNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/Untyped.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AttributeNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/FunctionCallNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserDiagnostic.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SyntheticVariableStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/VariableReferenceNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DataTypeCheckingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/LiteralTypeInferenceShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/simpleAssignments
  tools/ruletranslator/src/main/resources/rules/NPP045
Labels: natparse🔎

#292 Parse ACCEPT/REJECT statements
  libs/natparse/src/main/java/org/amshove/natparse/natural/IAcceptRejectNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AcceptRejectNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#295 Make SEPARATE support variable mutability analysis
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISeparateStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SeparateStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/assignAndMathStatements
Labels: natparse🔎

#296 Add inlay hints for target types on assignments
  docs/lsp-config.md
  libs/natls/src/main/java/org/amshove/natls/config/InlayHintsConfiguration.java
  libs/natls/src/main/java/org/amshove/natls/config/LSConfiguration.java
  libs/natls/src/main/java/org/amshove/natls/inlayhints/InlayHintProvider.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/inlayhints/InlayHintingTests.java
Labels: natls💻

#301 Typecheck variable initializers
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/LiteralTypeInferenceShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ResourceFolderBasedTest.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/constInitializer
Labels: natparse🔎

#300 Fix parsing variable EXAMINE DIRECTION clause
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#299 Improve literal and parens detection in attributes
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
Labels: bug🪲

#303 Add a check for variable groups to not contain CONST and non-CONST
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  tools/ruletranslator/src/main/resources/rules/NPP046
Labels: natparse🔎

#307 Make USING not import variables from module types other than data areas
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: bug🪲

#308 Add functions (NS7) to code completion
  libs/natls/src/main/java/org/amshove/natls/hover/HoverProvider.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/completion/CompleteEndpointShould.java
  libs/natls/src/test/java/org/amshove/natls/completion/CompletionTest.java
  libs/natls/src/test/java/org/amshove/natls/hovering/ExternalModuleHoverShould.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/DataType.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IFunction.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalModule.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DataTypeShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/NaturalParserShould.java
  libs/natparse/src/test/resources/projects/naturalParserTests/.natural
  libs/natparse/src/test/resources/projects/naturalParserTests/Natural-Libraries/TEST/FUNC.NS7
  libs/natparse/src/test/resources/projects/naturalParserTests/Natural-Libraries/TEST/FUNCDYN.NS7
  libs/natparse/src/test/resources/projects/naturalParserTests/Natural-Libraries/TEST/FUNCSET.NS7
Labels: natls💻

#305 Parse REPEAT statement
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IRepeatLoopNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/RepeatLoopNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#302 Parse MOVE statement
  docs/implemented-statements.md
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/QualifiedVariableAnalyzerShould.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IMoveStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IOldOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/MoveStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/OldOperandNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#311 Fix skip to DEFINE DATA for functions
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/NaturalParserShould.java
  libs/natparse/src/test/resources/projects/naturalParserTests/Natural-Libraries/TEST/FUNC2.NS7
Labels: bug🪲

#313 Search nodes only in same file as cursor position
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/referencing/ReferenceFinder.java
  libs/natls/src/main/java/org/amshove/natls/signaturehelp/SignatureHelpProvider.java
  libs/natls/src/test/java/org/amshove/natls/definition/DefinitionEndpointTests.java
  libs/natparse/src/main/java/org/amshove/natparse/NodeUtil.java
Labels: bug🪲

#315 Parse READ and make DBMS parsing less redundant
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IAtEndOfFileNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IFindNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReadNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReadWorkNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ReadSequence.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AtEndOfFileNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/FindNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReadNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReadWorkNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForKeywordsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#312 Parse SORT statement
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISortStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/SortDirection.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/SortedOperand.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SortStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#318 Add external subroutines and subprograms to code completion
  libs/natls/src/main/java/org/amshove/natls/LanguageServerException.java
  libs/natls/src/main/java/org/amshove/natls/completion/CompletionProvider.java
  libs/natls/src/main/java/org/amshove/natls/hover/HoverProvider.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/completion/CompleteEndpointShould.java
Labels: natls💻
