Repository markusamshove/natls, pull requests merged in 2023-07, with the labels that each got.

#324 Fix READ WORK option detection for ADJUST
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: bug🪲

#326 Add Quickfix to create internal subroutine from unresovled perform
  libs/natls/src/main/java/org/amshove/natls/WorkspaceEditBuilder.java
  libs/natls/src/main/java/org/amshove/natls/codemutation/CodeInsertion.java
  libs/natls/src/main/java/org/amshove/natls/codemutation/CodeInsertionPlacer.java
  libs/natls/src/main/java/org/amshove/natls/codemutation/TextEdits.java
  libs/natls/src/main/java/org/amshove/natls/codemutation/UsingToAdd.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/LspUtil.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/TextEdits.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/CreateUnresolvedSubroutineQuickFix.java
  libs/natls/src/main/java/org/amshove/natls/snippets/NaturalSnippet.java
  libs/natls/src/test/java/org/amshove/natls/codemutation/CodeInsertionPlacerShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/CreateUnresolvedSubroutineQuickFixShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/LanguageServerTest.java
  libs/natparse/src/main/java/org/amshove/natparse/NodeUtil.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDefineData.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IUsingNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/VariableScope.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/UsingNode.java
Labels: natls💻

#327 Add refactoring to extract inline subroutine
  libs/natls/src/main/java/org/amshove/natls/WorkspaceEditBuilder.java
  libs/natls/src/main/java/org/amshove/natls/codeactions/QuickFixContext.java
  libs/natls/src/main/java/org/amshove/natls/codeactions/RefactoringContext.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/LspUtil.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/CreateUnresolvedSubroutineQuickFix.java
  libs/natls/src/main/java/org/amshove/natls/refactorings/CompressRefactorings.java
  libs/natls/src/main/java/org/amshove/natls/refactorings/ConvertAssignmentsRefactoring.java
  libs/natls/src/main/java/org/amshove/natls/refactorings/CreateRedefineRefactoring.java
  libs/natls/src/main/java/org/amshove/natls/refactorings/ExtractConstantRefactoring.java
  libs/natls/src/main/java/org/amshove/natls/refactorings/ExtractSubroutineRefactoring.java
  libs/natls/src/test/java/org/amshove/natls/codelens/SubroutineCodeLensTests.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/CreateUnresolvedSubroutineQuickFixShould.java
  libs/natls/src/test/java/org/amshove/natls/refactorings/ExtractSubroutineRefactoringShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/ApplicableCodeActionAssertion.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/SourceWithCursor.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/SourceWithCursorExtractionException.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/SourceWithCursorShould.java
  libs/natls/src/test/java/org/amshove/natls/testlifecycle/TextEditApplier.java
  libs/natparse/src/main/java/org/amshove/natparse/NodeUtil.java
Labels: natls💻

#328 Add Quickfix to declare parameter
  libs/natls/src/main/java/org/amshove/natls/codemutation/CodeInsertionPlacer.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/UnresolvedReferenceQuickFix.java
  libs/natls/src/test/java/org/amshove/natls/codemutation/CodeInsertionPlacerShould.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/UnresolvedReferenceQuickFixShould.java
Labels: natls💻

#329 Add Quickfix to import PDA with PARAMETER USING
  libs/natls/src/main/java/org/amshove/natls/WorkspaceEditBuilder.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/UnresolvedReferenceQuickFix.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/UnresolvedReferenceQuickFixShould.java
Labels: natls💻

#330 Parse GET family
  libs/natparse/src/main/java/org/amshove/natparse/natural/IGetNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IGetSameNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IGetTransactionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/GetNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/GetSameNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/GetTransactionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#331 Parse CALL family
  libs/natparse/src/main/java/org/amshove/natparse/natural/ICallFileNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ICallLoopNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ICallNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/CallFileNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/CallLoopNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/CallNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/GetTransactionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SeparateStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#332 Globally use assertIsVariableReference() instead of the longer form
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/AssignStatementParsingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/CompressStatementParsingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/ComputeStatementParsingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/DefineWorkFileStatementParsingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/MathStatementParsingShould.java
Labels: infrastructure🧰

#333 Extend currently parsed statements by mutability information
  libs/natparse/src/main/java/org/amshove/natparse/natural/IAssignStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IAssignmentStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IBlockNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ICompressStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IComputeStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IExpandArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IExpandDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IForLoopNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IMoveStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReduceArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReduceDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IResetStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IResizeArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IResizeDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISeparateStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISortStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISubtractGivingStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AssignOrComputeStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ExpandArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ExpandDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ForLoopNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReduceArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReduceDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ResetStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ResizeArrayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ResizeDynamicNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SeparateStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SortStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/CompressStatementParsingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/InputStatementParsingShould.java
Labels: natparse🔎

#285 Rework variable group handling while parsing DEFINE DATA
  build.gradle
  libs/natlint/src/main/java/org/amshove/natlint/cli/CliAnalyzer.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IArrayDimension.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypedVariableNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/VariableNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: natparse🔎

#336 Check string literal length for empty literals
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/LexerError.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxToken.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForStringsShould.java
Labels: natparse🔎

#337 Fix parsing of subsequent redefine fillers
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: bug🪲

#339 Substitute copycode parameter before the source is lexed
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/LexerError.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxToken.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/text/SourceTextScanner.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerCopycodeParameterSubstitutionShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/AbstractParserTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/CopyCodesShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/NaturalParserShould.java
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/INCLREC.NSN
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/INCLSTR.NSN
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/NEST.NSC
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/NEST2.NSC
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/RECCC.NSC
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/WRITNEST.NSN
  libs/natparse/src/test/resources/projects/copycodetests/Natural-Libraries/LIBONE/WRITSTMT.NSC
  tools/ruletranslator/src/main/resources/rules/NPP047
Labels: natparse🔎
