Repository markusamshove/natls, pull requests merged in 2023-01, with the labels that each got.

#100 Support Operator ^=
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/ComparisonOperator.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForMultiCharacterOperatorsShould.java
Labels: natparse🔎

#105 Archive test results on failure
  .github/workflows/gradle-build.yml
  .github/workflows/testreport.yml
Labels: infrastructure🧰

#106 Check formatting as separate job
  .github/workflows/gradle-build.yml
  .gitignore
Labels: infrastructure🧰

#104 Add support for system vars *CPU-TIME *ETID *INIT-PROGRAM *LBOUND *UBOUND *DATU *DAT4U *DATV *DATVS *DATJ
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForKeywordsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForNaturalHeaderShould.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSystemVariablesShould.java
Labels: natparse🔎

#103 Add support for unique descriptors
  libs/natparse/src/main/java/org/amshove/natparse/natural/ddm/DescriptorType.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ddm/DdmParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ddm/DdmParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ddm/FieldParserShould.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/ddm/CompleteDdm.NSD
Labels: natparse🔎

#108 Make calculation of PACKED fields more accurate
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: natparse🔎

#111 Fix ^= not being recognized in conditions
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
Labels: bug🪲

#110 Fix condition preventing modules from being indexed
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalProjectFileIndexer.java
Labels: bug🪲

#94 Make analyzer configurable via editorconfig
  README.md
  docs/analyzer-config.md
  libs/natlint/src/main/java/org/amshove/natlint/api/LinterDiagnostic.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/CliAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/editorconfig/EditorConfig.java
  libs/natlint/src/main/java/org/amshove/natlint/editorconfig/EditorConfigParser.java
  libs/natlint/src/main/java/org/amshove/natlint/editorconfig/EditorConfigProperty.java
  libs/natlint/src/main/java/org/amshove/natlint/editorconfig/EditorConfigSection.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/AnalyzeContext.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/LinterContext.java
  libs/natlint/src/main/java/org/amshove/natlint/linter/NaturalLinter.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/UnusedImportAnalyzerShould.java
  libs/natlint/src/test/java/org/amshove/natlint/editorconfig/EditorConfigOverwriteSeverityTest.java
  libs/natlint/src/test/java/org/amshove/natlint/editorconfig/EditorConfigTest.java
  libs/natlint/src/test/java/org/amshove/natlint/linter/AbstractAnalyzerTest.java
  libs/natlint/src/test/resources/projects/editorconfig/.natural
  libs/natlint/src/test/resources/projects/editorconfig/Natural-Libraries/ALIB/SUBPROG.NSN
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/test/java/org/amshove/natls/NaturalLanguageServiceShould.java
  libs/natls/src/test/resources/projects/emptyproject/.editorconfig
  libs/natparse/src/main/java/org/amshove/natparse/DiagnosticSeverity.java
  libs/natparse/src/test/java/org/amshove/natparse/DiagnosticSeverityShould.java
Labels: natlint🐑

#117 Added IF BREAK and IF SELECTION special IF's
  libs/natparse/src/main/java/org/amshove/natparse/natural/IIfBreakNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IIfSelectionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/IfBreakNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/IfSelectionNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#120 Allow DEFINE PRINTER to take any string after OUTPUT
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#109 Add support for GLOBAL USING WITH BLOCK
  libs/natparse/src/main/java/org/amshove/natparse/natural/IBlockNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IUsingNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/BlockNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/UsingNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: natparse🔎

#124 Improve indexing time
  libs/natparse/src/main/java/org/amshove/natparse/infrastructure/ActualFilesystem.java
  libs/natparse/src/main/java/org/amshove/natparse/infrastructure/IFilesystem.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalProjectFileIndexer.java
Labels: natparse🔎

#130 Make Leser context sensitive for comments
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: natparse🔎

#129 Remove system variables flagged as keywords
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForKeywordsShould.java
Labels: bug🪲, natparse🔎

#123 Added some variants of NOT conditions
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/conditionals/ComparisonOperator.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ConditionalParsingTests.java
Labels: natparse🔎

#131 Add parse explorer tool
  gradle/wrapper/gradle-wrapper.properties
  libs/natparse/src/main/java/org/amshove/natparse/IPosition.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/TokenList.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  settings.gradle
  tools/explore/build.gradle
  tools/explore/src/main/java/org/amshove/natls/explore/ExploreApp.java
  tools/explore/src/main/java/org/amshove/natls/explore/ExploreController.java
  tools/explore/src/main/resources/org/amshove/natls/explore/explore.fxml
Labels: infrastructure🧰

#133 Allow modules and DDMs to have the same name
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerFile.java
  libs/natls/src/main/java/org/amshove/natls/project/LanguageServerLibrary.java
  libs/natls/src/main/java/org/amshove/natls/project/ModuleReferenceParser.java
  libs/natls/src/test/java/org/amshove/natls/project/LanguageServerFileAsModuleProviderShould.java
  libs/natls/src/test/resources/projects/module_provider_tests/.natural
  libs/natls/src/test/resources/projects/module_provider_tests/Natural-Libraries/LIBONE/SUB.NSD
  libs/natls/src/test/resources/projects/module_provider_tests/Natural-Libraries/LIBONE/SUB.NSN
  libs/natparse/src/main/java/org/amshove/natparse/natural/project/NaturalLibrary.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefaultModuleProvider.java
Labels: bug🪲
