Repository markusamshove/natls, pull requests merged in 2024-12, with the labels that each got.

#533 Fix go-to-references inside Copycodes
  libs/natls/src/main/java/org/amshove/natls/referencing/ReferenceFinder.java
  libs/natls/src/test/java/org/amshove/natls/references/FindReferencesTests.java
  libs/natls/src/test/resources/projects/findreferences/Natural-Libraries/LIBONE/CCODE.NSC
Labels: bug🪲

#534 Update toolchain resolver plugin
  settings.gradle
Labels: dependencies⏫

#526 Highlight whole TRANSACTION statements when creating diagnostics
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/HiddenTransactionAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/HiddenWorkfileAnalyzer.java
Labels: natlint🐑

#518 Implement parameter check for external modules
  libs/natlint/src/main/java/org/amshove/natlint/cli/AnalyzeCommand.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/AnalyzerPredicates.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/CliAnalyzer.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/predicates/DiagnosticPredicate.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/predicates/FilePredicate.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/predicates/GlobFilePredicate.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/predicates/IFilePredicate.java
  libs/natls/src/main/java/org/amshove/natls/codemutation/FileEdits.java
  libs/natls/src/main/java/org/amshove/natls/completion/CompletionProvider.java
  libs/natls/src/main/java/org/amshove/natls/hover/HoverProvider.java
  libs/natls/src/main/java/org/amshove/natls/signaturehelp/SignatureHelpProvider.java
  libs/natparse/src/main/java/org/amshove/natparse/infrastructure/IFilesystem.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IArrayDimension.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDataType.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDefineData.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IGroupNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ILiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IRangedArrayAccessNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/AbstractParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ArrayDimension.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ExternalParameterCheck.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/GroupNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/LiteralNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/RangedArrayAccessNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypedVariableNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DataTypeCheckingShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParameterExpansionShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ExternalParameterCheckShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/LiteralTypeInferenceShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/NaturalParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/OperandParsingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  tools/ruletranslator/src/main/resources/rules/NPP056
  tools/ruletranslator/src/main/resources/rules/NPP057
  tools/ruletranslator/src/main/resources/rules/NPP058
Labels: natparse🔎

#539 Allow EM, HD and PM on view variables without type
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: bug🪲, natparse🔎

#508 Parse DDM subdescriptors
  libs/natparse/src/main/java/org/amshove/natparse/natural/ddm/DescriptorType.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ddm/DdmParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ddm/DdmParserShould.java
Labels: natparse🔎

#541 Bump action-download-artifact
  .github/workflows/sonar.yml
  .github/workflows/testreport.yml
Labels: chore
