Repository markusamshove/natls, pull requests merged in 2024-08, with the labels that each got.

#499 Add endpoint returning all CONSTs from LDAs
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/constantfinding/ConstantsFinder.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/constantfinding/FindConstantsParams.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/constantfinding/FindConstantsResponse.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/constantfinding/FoundConstant.java
  libs/natls/src/test/java/org/amshove/natls/FindConstantsEndpointShould.java
Labels: natls💻

#501 Log ignored exceptions on endpoints
  libs/natls/src/main/java/org/amshove/natls/SafeWrap.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalDocumentService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageServer.java
Labels: natls💻

#488 Fully support DISPLAY statement
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/lexing/KeywordTable.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IDisplayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IInputStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IOutputStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IPrintNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IWriteNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DisplayNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/OutputStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/PrintNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/WriteNode.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForAttributeControlsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForKeywordsShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#504 Update Guava
  build.gradle
Labels: chore

#505 Extend unreachable code analyzer with TERMINATE, FETCH and STOP
  docs/implemented-statements.md
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/UnreachableCodeAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/UnreachableCodeAnalyzerShould.java
  libs/natls/src/main/java/org/amshove/natls/quickfixes/CreateUnresolvedSubroutineQuickFix.java
  libs/natls/src/test/java/org/amshove/natls/quickfixes/CreateUnresolvedSubroutineQuickFixShould.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IFetchNode.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IStopNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserError.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ParserErrors.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StopNode.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/ResourceFolderBasedTest.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
  tools/explore/src/main/java/org/amshove/natls/explore/ExploreController.java
Labels: natlint🐑
