Repository markusamshove/natls, pull requests merged in 2025-08, with the labels that each got.

#576 Parse COMMIT (SQL)
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/ICommitNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/CommitNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#578 Parse SET TIME
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/ILabelReferencable.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/ISetTimeNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/SetTimeNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#579 Parse PASSW
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IPasswNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/PasswNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#582 Parse RELEASE
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IReleaseNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ReleaseNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#583 Parse RUN statement
  docs/implemented-statements.md
  libs/natparse/src/main/java/org/amshove/natparse/natural/IRunStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/RunStatementNode.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/StatementListParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/StatementListParserShould.java
Labels: natparse🔎

#588 Fix some Gradle deprecations
  build.gradle
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natqube/src/main/java/org/amshove/natqube/rules/NaturalRuleRepository.java
Labels: infrastructure🧰

#592 Add PDA structure analyzer and rule NL041
  docs/analyzer-config.md
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/PdaStructureAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/PdaStructureAnalyzerShould.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/IVariableNode.java
  tools/ruletranslator/src/main/resources/rules/NL041
Labels: natlint🐑

#596 Implement go to definition/find references for statement labels
  libs/natls/src/main/java/org/amshove/natls/definition/DefinitionFinder.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalDocumentService.java
  libs/natls/src/main/java/org/amshove/natls/languageserver/NaturalLanguageService.java
  libs/natls/src/main/java/org/amshove/natls/referencing/ReferenceFinder.java
  libs/natls/src/test/java/org/amshove/natls/definition/DefinitionEndpointTests.java
  libs/natls/src/test/resources/projects/findreferences/Natural-Libraries/LIBONE/LABELS.NSN
  libs/natparse/src/main/java/org/amshove/natparse/natural/IModuleWithBody.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalModule.java
Labels: natls💻

#598 Show statement label inlay hint at end of processing loops
  libs/natls/src/main/java/org/amshove/natls/inlayhints/InlayHintProvider.java
  libs/natls/src/test/java/org/amshove/natls/inlayhints/InlayHintingTests.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/statements/CompressStatementParsingShould.java
Labels: natls💻

#597 Allow LOGIC type as COMPRESS operand
  libs/natparse/src/main/java/org/amshove/natparse/parsing/TypeChecker.java
  libs/natparse/src/test/resources/org/amshove/natparse/parsing/typing/compressTests
Labels: natparse🔎

#599 Don't consider REDEFINEs as empty groups when they contain filler
  libs/natparse/src/main/java/org/amshove/natparse/parsing/DefineDataParser.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/ViewParser.java
  libs/natparse/src/test/java/org/amshove/natparse/parsing/DefineDataParserShould.java
Labels: bug🪲

#602 Update SonarQube plugin
  build.gradle
Labels: dependencies⏫
