Repository markusamshove/natls, pull requests merged in 2025-03, with the labels that each got.

#555 Add compress postfix completion items
  libs/natls/src/main/java/org/amshove/natls/completion/CompletionProvider.java
  libs/natls/src/test/java/org/amshove/natls/completion/PostfixCompletionTests.java
Labels: natls💻

#558 Add *BROWSER-IO system variable
  libs/natparse/src/main/java/org/amshove/natparse/lexing/Lexer.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/SyntaxKind.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/builtin/BuiltInFunctionTable.java
  libs/natparse/src/test/java/org/amshove/natparse/lexing/LexerForSystemVariablesShould.java
Labels: natparse🔎

#553 Rewind SonarQube plugin to Java 17
  README.md
  build.gradle
  docker/Dockerfile.natlint
  docker/Dockerfile.sonar
  libs/natlint/src/main/java/org/amshove/natlint/cli/AnalyzeCommand.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/DiagnosticSinkType.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/CsvDiagnosticSink.java
  libs/natlint/src/main/java/org/amshove/natlint/cli/sinks/SplitCsvDiagnosticSink.java
  libs/natlint/src/test/java/org/amshove/natlint/cli/SinkTests.java
  libs/natqube/build.gradle
  libs/natqube/src/main/java/org/amshove/natqube/Natural.java
  libs/natqube/src/main/java/org/amshove/natqube/NaturalMetrics.java
  libs/natqube/src/main/java/org/amshove/natqube/NaturalModuleType.java
  libs/natqube/src/main/java/org/amshove/natqube/NaturalPlugin.java
  libs/natqube/src/main/java/org/amshove/natqube/NaturalProperties.java
  libs/natqube/src/main/java/org/amshove/natqube/measures/AggregateFileTypeMeasure.java
  libs/natqube/src/main/java/org/amshove/natqube/measures/FileTypeMeasure.java
  libs/natqube/src/main/java/org/amshove/natqube/measures/INaturalFileMeasurer.java
  libs/natqube/src/main/java/org/amshove/natqube/sensor/CsvDiagnostic.java
  libs/natqube/src/main/java/org/amshove/natqube/sensor/NatlintSensor.java
  libs/natqube/src/test/java/org/amshove/natqube/NatlintSensorShould.java
  libs/natqube/src/test/java/org/amshove/natqube/NaturalPluginShould.java
  libs/natqube/src/test/java/org/amshove/natqube/SonarQubeTest.java
  libs/natqube/src/test/java/org/amshove/natqube/TestContext.java
  libs/natqube/src/test/java/org/amshove/natqube/measures/FileTypeMeasureShould.java
  libs/natqube/src/test/java/org/amshove/natqube/sensor/NatlintSensorShould.java
Labels: natqube🎲

#547 Analyze undefined and unnecessary PROTOTYPE definitions
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/DefinePrototypeAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/DefinePrototypeAnalyzerShould.java
  libs/natparse/src/main/java/org/amshove/natparse/MultiValueMap.java
  tools/ruletranslator/src/main/resources/rules/NL036
  tools/ruletranslator/src/main/resources/rules/NL037
Labels: natlint🐑
