Repository markusamshove/natls, pull requests merged in 2025-05, with the labels that each got.

#565 Add analyzer to discourage long alphanumeric literals
  docs/analyzer-config.md
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/LongLiteralAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/LongLiteralAnalyzerShould.java
  tools/ruletranslator/src/main/resources/rules/NL038
Labels: natlint🐑

#568 Add tokens to INaturalModule
  libs/natparse/src/main/java/org/amshove/natparse/ReadOnlyList.java
  libs/natparse/src/main/java/org/amshove/natparse/lexing/TokenList.java
  libs/natparse/src/main/java/org/amshove/natparse/natural/INaturalModule.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalModule.java
  libs/natparse/src/main/java/org/amshove/natparse/parsing/NaturalParser.java
Labels: natparse🔎

#567 Add additional tests for long literals
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/LongLiteralAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/LongLiteralAnalyzerShould.java
Labels: natlint🐑, skip-changelog

#570 Deploy through Central Portal
  .github/after-release-issue.md
  .github/workflows/gradle-build.yml
  .github/workflows/release.yml
  build.gradle
  libs/natlint/build.gradle
  libs/natparse/build.gradle
Labels: infrastructure🧰, skip-changelog

#569 Added analyzer for code in lowercase
  docs/analyzer-config.md
  libs/natlint/src/main/java/org/amshove/natlint/analyzers/LowercaseCodeAnalyzer.java
  libs/natlint/src/test/java/org/amshove/natlint/analyzers/LowercaseCodeAnalyzerShould.java
  tools/ruletranslator/src/main/resources/rules/NL039
Labels: natlint🐑
